POSTGRES_VERSION=16
POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=change_me_in_production
POSTGRES_DB=tradinglab

AUTH_DB_NAME=auth
AUTH_DB_USER=auth_service
AUTH_DB_PASSWORD=change_me_in_production
AUTH_CONNECTION_STRING=Host=postgres;Database=${AUTH_DB_NAME};Username=${AUTH_DB_USER};Password=${AUTH_DB_PASSWORD};Port=5432

JOURNAL_DB_NAME=tradinglab_journal
JOURNAL_DB_USER=journal_service
JOURNAL_DB_PASSWORD=change_me_in_production
JOURNAL_CONNECTION_STRING=Host=postgres;Database=${JOURNAL_DB_NAME};Username=${JOURNAL_DB_USER};Password=${JOURNAL_DB_PASSWORD};Port=5432